@import url('https://fonts.googleapis.com/css?family=Concert+One');

$nav-color-hover: #666666;
$nav-color: #999999;
$nav-bg-color: #F2F2F2;

textarea, input, button { outline: none; }

nav{
    .nav-content{
        background-color: $nav-bg-color;
        display: flex;
        height: 50px;
        justify-content: space-between;

        .brand{
            padding: 10px;
            font-size: 30px;
            line-height: 30px;
            font-family: "Concert One",sans-serif;
            color: $nav-color;

            &:hover{
                text-decoration: none;
                color: $nav-color-hover;
                cursor: pointer;
            }
        }
        .menu-button{
            font-size: 30px;
            color: $nav-color;
            padding: 10px;
            line-height: 30px;

            &:hover{
                text-decoration: none;
                color: $nav-color-hover;
                cursor: pointer;
            }
        }
    }

    .nav-links{
        height: auto;
        display: none;
        border-top: 5px solid #E2E2E2;
        background-color: #E9E9E9;
        justify-content: center;
        flex-wrap: wrap;

        a {
            margin: 0 15px 0 15px;
            height: inherit;
            padding: 15px;
            font-size: 14px;
            color: $nav-color;
            font-family: Arial, Helvetica, sans-serif;

            &:hover{
                text-decoration: none;
                color: $nav-color-hover;
                cursor: pointer;
            }
        }
    }
}

.page{
    background-image: url('/images/landing-bg.jpg');
    background-size: cover;
    width: 100%;

    form{
        padding: 50px 0;

        input[type=text]{
            margin-right: 5px;
            padding: 5px;
            border: 1px solid #F2F2F2;
            border-radius: 5px;
            font-size: 14px;
            background-color: rgba(50,50,50,0.5);
            color: #FFFFFF;

            &:focus{
                color: #FFFFFF;
            }
        }

        button[type=submit]{
            padding: 5px;
            border: 1px solid #FFFFFF;
            border-radius: 5px;
            background-color: rgba(50,50,50,0.5);
            color: #FFFFFF;
            font-size: 14px;

            &:hover{
                background-color: rgba(0,0,0,0);
                border:1px solid #008754;
                color: #008754;
            }
        }
    }

    .intro{
        background-color: rgba(50,50,50,0.5);

        h1{
            display: block;
            color: white;
            font-family: "Concert One", sans-serif;
            margin: 10px;
        }

        p{
            display: block;
            color: white;
            margin: 10px;
            max-width: 50%;
        }
    }
}