@import url('https://fonts.googleapis.com/css?family=Concert+One');

$nav-color-hover: #666666;
$nav-color: #999999;
$nav-bg-color: #F2F2F2;
$transparent: rgba(0,0,0,0);
$semi-transparent: rgba(128,128,128,0.5);
$quicksand: 'Quicksand', sans-serif;
$raleway:  'Raleway', sans-serif;
$concert-one: "Concert One",sans-serif;

textarea, input, button { outline: none; }

nav{
    .nav-content{
        background-color: $nav-bg-color;
        display: flex;
        height: 50px;
        justify-content: space-between;
        border-bottom: 5px solid #DFDFDF;

        .brand{
            padding: 5px 10px;
            font-size: 40px;
            line-height: 40px;
            font-family: $concert-one;
            color: $nav-color;

            &:hover{
                text-decoration: none;
                color: $nav-color-hover;
                cursor: pointer;
            }
        }

        i{
            font-size: 30px;
            color: $nav-color;
            padding: 10px;
            line-height: 30px;

            &:hover{
                text-decoration: none;
                color: $nav-color-hover;
                cursor: pointer;
            }
        }
    }

    .nav-links{
        height: 0;
        width: 100%; /* 0 width - change this with JavaScript */
        z-index: 1;
        background-color: #EEEEEE; /* Black*/
        transition: 0.5s;
        overflow: hidden;
        display: flex;
        justify-content: space-around;

        a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 16px;
            color: $nav-color;
            transition: 0.3s;

            &:hover{
                color: $nav-color-hover;
            }
        }
    }
}

.page{
    background-image: url('/images/landing-bg.jpg');
    background-size: cover;
    width: 100%;

    form{
        padding: 50px 0;

        input[type=text]{
            margin-right: 5px;
            padding: 5px;
            border: 1px solid #F2F2F2;
            border-radius: 5px;
            font-size: 14px;
            background-color: $semi-transparent;
            color: #FFFFFF;

            &:focus{
                color: #FFFFFF;
            }
        }

        button[type=submit]{
            padding: 5px;
            border: 1px solid #FFFFFF;
            border-radius: 5px;
            background-color: $semi-transparent;
            color: #FFFFFF;
            font-size: 14px;

            &:hover{
                background-color: $transparent;
                border:1px solid #008754;
                color: #008754;
            }
        }
    }

    .intro{
        background-color: $semi-transparent;
        text-align: justify;

        .intro-text{
            h1{
                text-align: center;
                color: white;
                font-family: $concert-one;
                margin: 10px;
            }

            p{
                text-align: justify;
                color: white;
                margin: 10px;
            }
        }
    }
}

.container-dashboard{

    .dash-text{
        border-bottom: 1px solid #EEEEEE;

        h1{
        font-size: 24px;
        font-family: $quicksand;
        color: $nav-color;
        float: left;
        
        }

        i{
            float: right;
            font-size: 24px;
            color: $nav-color;

            &:hover{
                color: $nav-color-hover;
                cursor: pointer;
            }
        }
    }

    .dash-controls {
        height: 0;
        width: 100%; /* 0 width - change this with JavaScript */
        z-index: 1;
        background-color: #EEEEEE; /* Black*/
        transition: 0.5s;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 20px;
            color: $nav-color;
            transition: 0.3s;

            &:hover{
                color: $nav-color-hover;
            }
        }
    }

    a{
        &:hover{
            text-decoration: none;
        }
        
        img {
            width: 100%;
            height: 100%;
            background-size: cover;
            border: 3px solid #FFFFFF;
            border-radius: 15px;
        }

        .livre-info{
            position: absolute;
            display: flex;
            justify-content: center;
            flex-direction: column;
            z-index: 50;
            width: 100%;
            height: 100%;
            padding: 10px;
            color: transparent;
            

            &:hover, &:visited{
                background-color :rgba(0,0,0,0.7);
                border-radius: 15px;
                border: 3px solid #FFFFFF;
                color: white;
            }

            h4, p{
                color: inherit;
                font-family: $raleway;
                word-wrap: break-word;
                text-overflow: ellipsis;
            }
        }
    }

    .livre{
        padding: 0;
    }

    .livres {
        padding-top: 20px;
    }
}

.font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}