<nav>
    <div class="nav-content">
        <a href="" class="brand">
            {{title}}
        </a>
        <ul>
            <li>Some link</li>
            <li>Some other link</li>
        </ul>
    </div>
</nav>