<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/tether/dist/css/tether.min.css">
    <link rel="stylesheet" href="/bower_components/tether/dist/css/tether-theme-arrows.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href="/stylesheets/style.min.css"/>
  </head>
  <body>
      {{{body}}}
      <script src="bower_components/jquery/dist/jquery.min.js"></script>
      <script src="bower_components/tether/dist/js/tether.min.js"></script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/javascripts/main.min.js"></script>
      <script type="text/javascript" src="//localhost:3000/livereload.js"></script>
  </body>
</html>
