@import url("https://fonts.googleapis.com/css?family=Concert+One");
textarea, input, button {
  outline: none;
}

nav .nav-content {
  background-color: #F2F2F2;
  display: flex;
  height: 50px;
  justify-content: space-between;
  border-bottom: 5px solid #DFDFDF;
}
nav .nav-content .brand {
  padding: 5px 10px;
  font-size: 40px;
  line-height: 40px;
  font-family: "Concert One", sans-serif;
  color: #999999;
}
nav .nav-content .brand:hover {
  text-decoration: none;
  color: #666666;
  cursor: pointer;
}
nav .nav-content i {
  font-size: 30px;
  color: #999999;
  padding: 10px;
  line-height: 30px;
}
nav .nav-content i:hover {
  text-decoration: none;
  color: #666666;
  cursor: pointer;
}
nav .nav-links {
  height: 0;
  width: 100%;
  /* 0 width - change this with JavaScript */
  z-index: 1;
  background-color: #EEEEEE;
  /* Black*/
  transition: 0.5s;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}
nav .nav-links a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #999999;
  transition: 0.3s;
}
nav .nav-links a:hover {
  color: #666666;
}

.page {
  background-image: url("/images/landing-bg.jpg");
  background-size: cover;
  width: 100%;
}
.page form {
  padding: 50px 0;
}
.page form input[type=text] {
  margin-right: 5px;
  padding: 5px;
  border: 1px solid #F2F2F2;
  border-radius: 5px;
  font-size: 14px;
  background-color: rgba(128, 128, 128, 0.5);
  color: #FFFFFF;
}
.page form input[type=text]:focus {
  color: #FFFFFF;
}
.page form button[type=submit] {
  padding: 5px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.5);
  color: #FFFFFF;
  font-size: 14px;
}
.page form button[type=submit]:hover {
  background-color: transparent;
  border: 1px solid #008754;
  color: #008754;
}
.page .intro {
  background-color: rgba(128, 128, 128, 0.5);
  text-align: justify;
}
.page .intro .intro-text h1 {
  text-align: center;
  color: white;
  font-family: "Concert One", sans-serif;
  margin: 10px;
}
.page .intro .intro-text p {
  text-align: justify;
  color: white;
  margin: 10px;
}

.container-dashboard .dash-text {
  border-bottom: 1px solid #EEEEEE;
}
.container-dashboard .dash-text h1 {
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
  color: #999999;
  float: left;
}
.container-dashboard .dash-text i {
  float: right;
  font-size: 24px;
  color: #999999;
}
.container-dashboard .dash-text i:hover {
  color: #666666;
  cursor: pointer;
}
.container-dashboard .dash-controls {
  height: 0;
  width: 100%;
  /* 0 width - change this with JavaScript */
  z-index: 1;
  background-color: #EEEEEE;
  /* Black*/
  transition: 0.5s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container-dashboard .dash-controls a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #999999;
  transition: 0.3s;
}
.container-dashboard .dash-controls a:hover {
  color: #666666;
}
.container-dashboard a:hover {
  text-decoration: none;
}
.container-dashboard a img {
  width: 100%;
  height: 100%;
  background-size: cover;
  border: 3px solid #FFFFFF;
  border-radius: 15px;
}
.container-dashboard a .livre-info {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 50;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: transparent;
}
.container-dashboard a .livre-info:hover, .container-dashboard a .livre-info:visited {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  border: 3px solid #FFFFFF;
  color: white;
}
.container-dashboard a .livre-info h4, .container-dashboard a .livre-info p {
  color: inherit;
  font-family: "Raleway", sans-serif;
  word-wrap: break-word;
  text-overflow: ellipsis;
}
.container-dashboard .livre {
  padding: 0;
}
.container-dashboard .livres {
  padding-top: 20px;
}

.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*# sourceMappingURL=style.css.map */
